# Ignores Testing files
test
# Ignores binarys not on the bin folder
*.bi
*.bin
*.exe
*.dll
*.so
*.o
# ... Only if they aren't on the bin folder
!/bin/*.bin
!/bin/*.exe
!/bin/*.dll
!/bin/*.so
!/bin/*.o
# Ignores libraries
*.lib
*.a
*.so
*.dll
*.dylib
